<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EJERCICIO PROGRAMACION CENTRALIZADA</h1>
    <div id="usuarios"></div>
    <script>
        document.addEventListener("DOMContentLoaded", async()=>{
            peticion = await fetch("http://localhost:666");
            datos = await peticion.json();

            const usuarios = document.getElementById("usuarios");

            for(const usuario of datos.result){
                const row = document.createElement("tr");
                row.innerHTML = `
                    <td>${usuario.id}</td>
                    <td>${usuario.name}</td>
                    <td>${usuario.description}</td>
                    `;
                    usuarios.appendChild(row);
            }
        });
    </script>
</body>

</html>